body {
  background-color: #212529;
}
.text {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 20px;
}

.multicolortext {
  background-image: linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
